@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-name-container {
        container-name: bgNameContainer;
    }

    .bg-name-container::before {
        content: attr(data-name);
        font-weight: bold;
        position: absolute;
        text-transform: uppercase;
        color: white;
        opacity: 0.75;
        z-index: -1;
        right: 0;
        overflow-wrap: anywhere;
        line-height: 1;
        top: min(35cqw, 20cqh);
        font-size: max(350px, 15cqw);
        text-align: end;
    }

    .bg-name-container::after {
        content: "";
    }

    @media (min-width: 1280px) {
        .bg-name-container::before {
            right: 10cqw;
        }
    }
}

#nprogress {
    @apply pointer-events-none;
}

#nprogress .bar {
    @apply bg-[#ff0000] fixed z-[5] top-0 left-0 w-full h-1;
}

/* Fancy blur effect */
#nprogress .peg {
    @apply shadow-nprogress shadow-[#ff0000] block absolute right-0 opacity-100 h-full w-[100px] rotate-3 -translate-y-1;
}

#nprogress .spinner {
    @apply block fixed z-40 top-6 right-4;
}

#nprogress .spinner-icon {
    @apply animate-nprogress w-5 h-5 box-border border-2 border-transparent rounded-full border-t-[#ff0000] border-l-[#ff0000];
}